<!doctype html>
<html ng-app="ui.bootstrap.demo">
<head>
    <script src="../../../libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="../../../libs/angular-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

    <link rel="stylesheet" href="../../../libs/bootstrap/3.3.1/css/bootstrap.min.css"/>

    <script src="script.js"></script>
</head>
<body>
<div ng-controller="AlertDemoCtrl">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <button class="btn btn-default" ng-click="addAlert()">Add Alert</button>
</div>
</body>
</html>